<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../partials/head.ejs") %>
    <link rel="stylesheet" href="./css/styleList.css">
</head>
<body>
    <%- include("../partials/header.ejs") %>
    <main>
        <% products.forEach(product => { %>
        <article>
            <h2><%= product.name %></h2>
            <a href="/products/<%= product.id %>">
                <img src="/images/Products/<%= product.image %>" alt="<%= product.name %>" class="product_img">
             </a>              
                <div class="main-article">
                    <p class="price">Precio: $ <%= product.price %>
                    </p>
                    <h4 class="description"> <%= product.description %>
                    </h4>
                    <p class="colours">Colores: <%= product.colours %>
                    </p>
                    <p class="compatiblity">Compatible con: <%= product.compatibility %>
                    </p>
                </div>
        </article>
        <% }) %>
    </main>
    <%- include("../partials/footer.ejs") %>
</body>

</html>