<!DOCTYPE html>
<html lang="en">
​<head>
    <%- include ("../partials/head.ejs") %>
    <link rel="stylesheet" href="./css/styleProfile.css">
</head>
<body>
    <%- include("../partials/header.ejs") %>
    <main>
        <div class="profileContainer">
            <img src="/images/users/<%= user.image %> ">
            <div class="col">
                <h2>Hola <%= user.name %> </h2>
                <br>
                <br>
                <div class="email">
                    <%= user.email %> 
                </div>
            </div>
        </div>
    </main> 

    <%- include("../partials/footer.ejs") %>
</body>
</html>