<!DOCTYPE html>
<html lang="en">
    ​<head>
        <%- include ("../partials/head.ejs") %>
        <link rel="stylesheet" href="./css/styleProfile.css">
    </head>
    <body>
        <%- include("../partials/header.ejs") %>
        
        <main>
            <div class="profileContainer">
                <img src="/images/users/<%= user.profile_image %> ">
                <div class="col">
                    <h2>Hola <%= user.first_name %> </h2>
                    <a href="/user/<%= user.id %>/useredit">
                        <button type="button"> Editar perfil </button>
                    </a>
                    <br>
                    <div class="email">
                        <%= user.email %> 
                    </div>
                    <br>
                    <a href="/logout/">
                        <button type="button"> Cerrar sesión </button>
                    </a>
                </div>
            </div>
        </main> 

        <%- include("../partials/footer.ejs") %>
    </body>
</html>